<% content_for :title, "Log In" %>
<% content_for :card_title, "Log In to Your Account" %>
<% content_for :description, "Enter your email and password to access your account." %>

<%= render "form" %>

<div class="mt-4 text-center text-sm text-neutral-700">
  Don't have an account?&nbsp;
  <%= link_to "Sign up", new_user_path, class: "text-emerald-600 hover:text-emerald-700" %>
</div>

<div class="mt-4 text-center text-sm text-neutral-700">
  <%= link_to "Forgot password?", new_password_path, class: "text-emerald-600 hover:text-emerald-700" %>
</div>
