<% content_for :title, "Sign Up" %>
<% content_for :card_title, "Create an Account" %>

<%= render "new_form", user: @user %>

<div class="mt-4 text-center text-sm text-neutral-700">
  Already have an account?&nbsp;
  <%= link_to "Log in", new_session_path, class: "text-emerald-600 hover:text-emerald-700" %>
</div>
