<% content_for :title, "Edit Role" %>
<% content_for :action, "Update" %>

<div class="h-full w-full flex flex-col justify-start items-center pt-8">
<%= render "shared/card" do %>
  <%= render "form", role: @role %>

  <div class="flex flex-row justify-center items-center mt-4 text-center text-sm text-neutral-700 gap-1">
    Don't need this role?
    <%= button_to "Delete", @role, method: :delete, class: "text-red-600 hover:text-red-700 cursor-pointer" %>
  </div>
<% end %>
</div>
