<% content_for :title, "Invitation" %>
<% content_for :back_url, notifications_path %>
<% content_for :back_label, "Notifications" %>

<% if @organization_invitation.status_is_pending? %>
  <% content_for :card_title, "Invitation Received" %>
  <% content_for :description, "You've been invited to join #{@organization.name}" %>
<% else %>
  <% content_for :card_title, "No Action Required" %>
<% end %>

<div
  class="h-full w-full flex flex-col justify-start items-center pt-8"
  data-controller="notifications--mark-as-read"
  data-notifications--mark-as-read-url-value="<%= mark_as_read_notification_path(@organization_invitation.notification) %>"
>
  <%= render "shared/card" do %>
    <% if @organization_invitation.status_is_pending? %>
      <%
        invitation_path = organization_organization_invitation_path(@organization, @organization_invitation.token)
        action_url = "#{invitation_path}/handle_invitation_response"
      %>

      <div class="w-full flex flex-row items-center justify-center gap-3">
        <%= button_to "Join organization", action_url, method: :patch, params: { invite_accepted: true }, class: button_classes("bg-emerald-600 cursor-pointer hover:bg-emerald-700 disabled:bg-emerald-400") %>
        <%= button_to "Deny", action_url, method: :patch, params: { invite_accepted: false }, class: button_classes("cursor-pointer", "link") %>
      </div>

    <% elsif @organization_invitation.status == "accepted" %>

      <div class="w-full text-center">
        You've already <span class="text-emerald-600">accepted</span> this invitation.
      </div>

    <% elsif @organization_invitation.status == "denied" %>

      <div class="w-full text-center">
        You've already <span class="text-red-600">denied</span> this invitation.
      </div>

    <% end %>
  <% end %>
</div>
