<% content_for :title, "Edit Membership" %>
<% content_for :card_title, "#{@organization_membership.user.full_name} in #{@organization.name}" %>
<% content_for :action, "Update" %>
<% content_for :back_url, organization_organization_memberships_path(@organization) %>
<% content_for :back_label, "Members" %>

<div class="h-full w-full flex flex-col justify-start items-center pt-8">
  <%= render "shared/card" do %>
    <%= render "form", organization_membership: @organization_membership %>
  <% end %>
</div>
