<h1>Add Member to <%= @organization.name %></h1>

<%= render "form", organization_membership: @organization_membership %>

<%= link_to "Back to Members", organization_organization_memberships_path(@organization) %>
