<% content_for :title, "Profile" %>

<%= render "settings/shell" do %>
  <header class="w-full mb-6">
    <h3 class="mb-0.5 text-base font-medium">Profile Information</h3>
    <p class="text-muted-foreground text-sm">Update your name and email address</p>
  </header>

  <%= render "form", user: @user %>

  <%= render "settings/profiles/delete_account" %>
<% end %>
